# Environment variables
.env

# Python virtual environment
.venv/
venv/
.venv/
spotvenv/**
.idea/
env/
__pycache__/
*.py[cod]
*$py.class
spotvenv/
# Spot robot image files
spot_image_*.jpg

# Temporary audio files
*.wav

# Logs
*.log
*logs/

# OS specific files
.DS_Store
Thumbs.db 

node_modules
*.png
*.jpg
/images
!assets/*.jpg